<h1 class="text-center my-5">スーツは紳士の鎧であり<br/>ビジネスマンは現代の騎士である</h1>

<div class="main-visual">

</div>
<div>
  <h2 class="text-center my-5">LookBook</h2>
  <p class="text-center mb-5">
    普段着はこだわるけどスーツは適当。<br/>
    きっとそんな風に諦めている人が多いはず。<br/>
    一週間のコーディネートを自分だけで考えるのはツラすぎる。<br/>
    大丈夫、みんなで一緒に考えよう。
  </p>
</div>
<div class="second-visual">
  <h2>LookBookとは？</h2>
  <p></p>
</div>